
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>User details </h3>
    <p>
      <%= (t 'form.firstname') %> - <%= @user.firstname %>
    </p>
    <p>
      <%= (t 'form.lastname') %> - <%= @user.lastname %>
    </p>
    <p>
      <%= (t 'form.username') %> - <%= @user.username %>
    </p>
    <p>
      Email - <%= @user.email %>
    </p>
    <p>
      <%= (t 'form.age') %> - <%= @user.age %>
    </p>
  </body>
</html>