
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>User details </h3>
    <p>
      Firstname - <%= @user.firstname %>
    </p>
    <p>
      Lastname - <%= @user.lastname %>
    </p>
    <p>
      Username - <%= @user.username %>
    </p>
    <p>
      Email - <%= @user.email %>
    </p>
    <p>
      Age - <%= @user.age %>
    </p>
  </body>
</html>