<%= link_to (t 'form.back_btn'), users_path %>

<%= form_with(model: @user, local: true, multipart: true) do |form| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@user.errors.count, 'error') %>
        <%= t('error.unable_to_save') %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= react_component('Label', { text: (t 'form.firstname') }) %><br>
    <%= form.text_field :firstname %>
  </p>
  <p>
    <%= react_component('Label', { text: (t 'form.lastname') }) %><br>
    <%= form.text_field :lastname %>
  </p>
  <p>
    <%= react_component('Label', { text: (t 'form.username') }) %><br>
    <%= form.text_field :username %>
  </p>
  <p>
    <%= react_component('Label', { text: (t 'form.age') }) %><br>
    <%= form.text_field :age %>
  </p>
  <p>
    <%= react_component('Label', { text: (t 'form.email') }) %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= react_component('Label', { text: (t 'form.profile_picture') }) %><br>
    <%= image_tag(@user.avatar, width: 200) if @user.avatar.attached? %>
    <%= form.file_field :avatar %>
  </p>
  <p>
    <%= form.submit (t 'form.submit'), class: 'btn btn-primary' %>
  </p>
<% end %>
<footer class='page-footer font-small blue'>
  <div class='footer-copyright text-center py-3'>
    <%= render 'devise/shared/language_selector' %>
  </div>
</footer>