
<h1>Users Listing</h1>
<%= link_to 'New', new_user_path() %>
 
<table>
  <tr>
    <th>Id</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Username</th>
    <th>Email Id</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
 
  <% if @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.age %></td>
      <td><%= link_to 'Show', user_path(user) %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Delete', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end.empty? %>
    <br>
    No users found
<% end %>
</table>