<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%= (t 'app_name') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to (t 'form.add'), new_user_path(), class: 'nav-link' %>
        </li>
      </ul>
      <%= link_to (t 'logout'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-success my-2 my-sm-0' %>
    </div>
  </nav>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope="col"><%= (t 'form.id') %></th>
        <th scope="col"><%= (t 'form.firstname') %></th>
        <th scope="col"><%= (t 'form.lastname') %></th>
        <th scope="col"><%= (t 'form.username') %></th>
        <th scope="col"><%= (t 'form.email') %></th>
        <th scope="col"><%= (t 'form.age') %></th>
        <th scope="col"><%= (t 'form.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.age.to_i %></td>
          <td><%= link_to (t 'form.view'), user_path(user) %> | <%= link_to (t 'form.edit'), edit_user_path(user) %> | <%= link_to (t 'form.delete.title'), user_path(user),
                  method: :delete,
                  data: { confirm: (t 'form.delete.confirm') } %></td>
        </tr>
      <% end.empty? %>
        <br>
        <%= (t 'form.no_users') %>
      <% end %>
    </tbody>
  </table>
</div>
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    <%= render 'devise/shared/language_selector' %>
  </div>
</footer>
