<%= render 'devise/shared/language_selector' %>

<h1><%= (t 'listing') %></h1> 
<%= button_to (t 'logout'), destroy_user_session_path, method: :delete  %>
<br />
<%= link_to 'New', new_user_path() %>
 
<table>
  <tr>
    <th><%= (t 'form.id') %></th>
    <th><%= (t 'form.firstname') %></th>
    <th><%= (t 'form.lastname') %></th>
    <th><%= (t 'form.username') %></th>
    <th><%= (t 'form.email') %></th>
    <th><%= (t 'form.age') %></th>
    <th><%= (t 'form.action') %></th>
  </tr>
 
  <% if @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.age %></td>
      <td><%= link_to (t 'form.view'), user_path(user) %> | <%= link_to (t 'form.edit'), edit_user_path(user) %> | <%= link_to (t 'form.delete.title'), user_path(user),
              method: :delete,
              data: { confirm: (t 'form.delete.confirm') } %></td>
    </tr>
  <% end.empty? %>
    <br>
    <%= (t 'form.no_users') %>
<% end %>
</table>