<div class='container-fluid'>
  <h4><%= (t 'details') %></h4>
  <p>
    <%= react_component('Label', { text: (t 'form.firstname') }) %>
    <strong><%= @user.firstname %></strong>
  </p>
  
  <p>
    <%= react_component('Label', { text: (t 'form.lastname') }) %>
    <strong><%= @user.lastname %></strong>
  </p>

  <p>
    <%= react_component('Label', { text: (t 'form.username') }) %>
    <strong><%= @user.username %></strong>
  </p>

  <p>
    <%= react_component('Label', { text: (t 'form.email') }) %>
    <strong><%= @user.email %></strong>
  </p>

  <p>
    <%= react_component('Label', { text: (t 'form.age') }) %>
    <strong><%= @user.age.to_i %></strong>
  </p>

  <%= react_component('Label', { text: (t 'form.profile_picture') }) %>
  <%= image_tag(@user.avatar, width: 200) if @user.avatar.attached? %>
  <br>
  <%= link_to (t 'form.back_btn'), users_path %>
</div>