<div class='container-fluid'>
  <h4><%= (t 'details') %></h4>
  <p>
    <strong><%= (t 'form.firstname') %>:</strong>
    <%= @user.firstname %>
  </p>
  
  <p>
    <strong><%= (t 'form.lastname') %>:</strong>
    <%= @user.lastname %>
  </p>

  <p>
    <strong><%= (t 'form.username') %>:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong><%= (t 'form.email') %>:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong><%= (t 'form.age') %>:</strong>
    <%= @user.age %>
  </p>

  <%= image_tag(@user.avatar, width: 200) if @user.avatar.attached? %>
  <br>
  <%= link_to 'Back', users_path %>
</div>